@model WeekendTask.Models.Setting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Setting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speciality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speciality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Previous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Previous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AboutME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AboutME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facebook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GooglePlus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GooglePlus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foot_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foot_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foot_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foot_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foot_Skype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foot_Skype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkypeIcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkypeIcon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Envelope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Envelope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneIcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneIcon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Share)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Share)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
